.advantages {
  &__container {
    padding-inline: rem(85) rem(35);
    padding-bottom: rem(70);
    display: flex;
    flex-direction: column;
    place-items: center;
    gap: rem(59);
    transition: 0.3s;
    @include mobile {
      padding-inline: rem(0);
    }
  }
  &-title {
    text-align: center;
    max-width: rem(1270);
  }
  &-content {
    display: flex;
    gap: rem(35);
    align-items: center;
    @include tablet {
      flex-direction: column;
    }
  }
  &-grid {
    @include d-grid(3,rem(45),rem(40));
    place-items: start;
  }
  &-img {
    border-radius: var(--radius);
    max-width: rem(600);
    max-height: rem(880);
    object-fit: cover;
    width: 100%;
    height: 100%;
  }
}