.benefits {
  &__container {
    display: flex;
    flex-direction: column;
    gap: rem(86);
    align-items: center;
    padding-inline: rem(130);
    max-width: 100%;
    padding-block: rem(118) rem(113);
    @include mobile {
      padding-inline: rem(10);
    }
  }
  &__header {
    text-align: center;
    font-weight: 400;
    &-title {
      font-weight: 400;
    }
    &-text {
      font-size: 24px;
      color: var(--gray);
    }
  }
  &__content {
    @include d-grid(3,rem(120), rem(140));
    text-align: center;

  }
  &-button {
    padding: rem(30) rem(50);
    @include mobile {
      padding: rem(15);
    }
  }
}