.header {
  &__container {
    display: flex;
    flex-direction: column;
    gap: rem(32);
    padding: rem(13) rem(72) rem(0) rem(72);
    z-index: 99;
    @include tablet {
      flex-direction: row;
      place-items: start;
      align-items: center;
      justify-content: space-between;
    }
    @include mobile-s {
      padding-inline: 20px;
    }
  }

  &__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: rem(40);
    &-logo {
      display: flex;
      align-items: center;
      gap: rem(40);
      min-width: 270px;
      @include mobile {
        flex-direction: column;
        min-width: 170px;
      }
    }
    &-text {
      max-width: rem(343);
      color: var(--gray);
      @include mobile-s {
        display: none;
      }
    }
    &-benefit {
      display: flex;
      align-items: center;
      gap: rem(13);
      span {
        font-weight: 600;
      }
      @include tablet {
        display: none;
      }
    }

    &-button {
      padding: rem(10) rem(30);
      @include tablet {
        display: none;
      }
    }
    &-contact {
      @include tablet {
        display: none;
      }
    }
  }

  &-menu-burger {
    display: none;
    padding-inline: rem(10);
    @include tablet {
      display: flex;
    }
  }
  &__contact {
    &-title {
      color: var(--gray);
    }
    &-link {
      transition: all 0.3s;
      &:is(:hover,:active) {
        color: var(--secondary);
      }
    }
  }
  @include tablet {
    background: var(--background);
    z-index: 9999;
    position: fixed;
    transition: 0.4s ease-in-out;
    top: 0;
    padding-bottom: rem(15);
    border-bottom-left-radius: var(--radius);
    border-bottom-right-radius: var(--radius);
    &:is(&-hide) {
      position: sticky;
    }
  }
  &-scroll {
    top: -100px;

  }

}