.intro {
  max-height: 100%;
  height: 100%;
  padding: rem(31);
  position: relative;
  &__container {
    z-index: 1;
    position: relative;
    display: flex;
    width: 100%;
    flex-direction: column;
    min-height: rem(809);
    border-radius: var(--radius);
    max-height: 100%;
    height: 100%;
    padding-block-start: 78px;
    align-items: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    gap:rem(104) ;
  }
  &-title {
    color: var(--secondary-foreground);
    font-size: fluid(60,42);
    text-align: center;
    max-width: rem(1205);
    span {
      color: var(--accent);
    }
  }
  &-button {
    padding: rem(32);
  }

}