.reviews {
  padding-inline: rem(20);
  margin-top: rem(619);
  &__container {
    position: relative;
    max-width: 100%;
    background-color: var(--secondary-background);
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  &-decoration {
    position: absolute;
    @include square(rem(500));
    rotate: -15deg;
    top: rem(-167);
    left: rem(7);
    z-index: 1;
  }
  &__menu {
    z-index: 2;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
  }
  &-title {
    z-index: 2;
    text-align: center;
  }
}