.review-card {
  break-inside: avoid;
  max-width: rem(413);
  background: var(--background);
  margin-bottom: rem(25);
  border-radius: var(--radius);
  padding: rem(10);
  &-wrapper {
    padding: rem(20) rem(30);
    border-radius: var(--radius);
    border: 1px solid #F4F4FB;
    display: flex;
    flex-direction: column;
    gap: rem(20);
  }
  @include tablet {
    width: 100%;
  }
  @include mobile {
    padding-inline: rem(10);
    max-width: unset;
    width: unset;
  }
  &__user {
    display: flex;
    gap: rem(22);
    @include mobile-s {
      flex-direction: column;
    }
    &-stars {
      display: flex;
      .ri-star-s-fill {
        color: #FFCA41;
      }
      p {
        margin-left: rem(11);
      }
    }
    &-img {
      @include square(rem(56));
      background: green;
      border-radius: 50%;
    }
  }
}