.sales {
  width: 100%;
  padding: rem(20);
  &__container {
    max-width: 100%;
    width: 100%;
    background-color: var(--secondary-background);
    border-radius: var(--radius);
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: rem(59);
    padding-top: rem(10);
  }
  &__grid {
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: rem(16) rem(75);
    padding-inline: rem(80);
  }
}