.container {
  max-width: var(--container-width);
  padding-inline: var(--container-offset);
  margin-inline: auto;
}

.h1 {
  font-size: fluid(60,42);
  color: currentColor;
  font-weight: 600;
}
.h2 {
  font-size: fluid(52,42);
  color: currentColor;
  font-weight: 600;
}

.h3 {
  font-size: rem(30);
  color: currentColor;
  font-weight: 500;
}

.span {
  &:is(&--primary) {
    color: var(--primary);
  }
}