.container {
  padding-inline: var(--container-offset);
  margin-inline: auto;
  max-width: 100%;
  @include mobile {
    padding: 5px;
  }
}

.h1 {
  font-size: fluid(60,32);
  color: currentColor;
  font-weight: 600;
}
.h2 {
  font-size: fluid(52,26);
  color: currentColor;
  font-weight: 600;
}

.h3 {
  font-size: rem(30);
  color: currentColor;
  font-weight: 500;
}

.span {
  &:is(&--primary) {
    color: var(--primary);
  }
}